.input-field {
    width: 200px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
}

.submit-button {
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}