@import "../../../assets/scss/colors.scss";

.pagination-layout {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: white;
    color: $primary-blue;
}

.selected {
    color: $grayscale-black;
}

.arrow-layout {
    padding: 5px 7px 5px 7px;
    border: 1px solid $grayscale-gray40;
    border-radius: 3px;

    &.disabled {
        pointer-events:none;
        opacity: 0.4;
    }
}