$gray20: #EAEAEA;
$header-color: #F3F3F3;
$grayscale-black: #303133;
$grayscale-gray40:#D6D8DA;
$primary-blue: #06A9F6;
$scrollbar-thumb: #D8D8D8;
$scrollbar-track: #FAFAFA;
$scrollbar-track-border: #EAEAEA;
;


